.container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

img {
    width: 30px;
    height: 30px;
}

.up {
    display: none;
}

.question {
    background-color: white;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.left {
    display: flex;    
}

.left span {
    font-size: 30px;
    font-weight: bold;
}

.right {
    display: flex;
    margin-left: auto;
}

.answer {
    display: none;
    background-color: #ccc;
    padding-left: 100px;
}